body {
    background-color: rgba(236, 12, 12, 0.833);
      font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: rgb(239, 231, 231);
}
.fa-compass {
    color: #6200ff;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links , 
.f-info-socials ,.f-info-brand{
    width: 100%;
    vertical-align: middle;
}
.f-info-socials {
    font-size: 1.3rem;
    margin-right: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* Cards */
.showing {
    border: none !important;
    margin-bottom: 2rem;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem ;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Carrd effect */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #222222 !important;
    border: none;
}

.add-btn1 {
    background-color: rgb(239, 91, 91) !important;
    border: none;
}

/* Show Page */
.show-img {
    height: 30vh;
}
.btns {
    display:flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}
.show-card {
    text-align: center;
}

#map { 
    width: 80vh; 
    height: 400px 
}